* {
  box-sizing: border-box;
}
:root {
  --color-primary: #ee6352;
  --color-body: #333;
  --color-bg: #ddd;
}

body {
  font-family: basic-sans, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  font-size: 1.125em;
  line-height: 1.6;
  color: var(--color-body);
  background-color: var(--color-bg);
}
.title {
  margin: 0 0 0.5em;
  font-weight: 900;
  color: var(--color-primary);
}

.content {
  background-color: white;
  padding: 3em;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
}
/* min */
.content--min {
  /* width: 70%;
  max-width: 500px; */

  /* можно записать короче */
  width: min(500px, 70%);
  /* min ищет минимальное значение и применяет его, 
  если в данный момент 70% экрана будет меньше 500зч то применятся 70%,
  если 500px меньше 70% экрана применятся они */

  width: min(500px + 10%, 10000px);
  /* можно использовать вычисление без calc */
}
/* max */
.content--max {
  width: max(200px, 30%, 50vh);
  /* min ищет максимальное значение и применяет его, 
  можно изспольовать больше двух значений (в min тоже) */
}
/* clamp*/
.content--clamp {
  width: 70%;
}
p {
  /* background: lightblue; */
  width: 50%;

  /* clamp всегда примнимает три значения: минимальное, максимальное и среднее*/
  /* width: clamp(300px, 50%, 20rem); */
  /* использовать для ширины не очень хорошая идея, т.к. может плохо работать на мобильных (нужно тщательнее выбирать минимальное значение) */

  /* зато очень хорошо работает со шрифтами */
  font-size: 2vw;
  font-size: calc(1vw + 0.5rem);
  /*просто указать размер в зависимости от размера экрана не очень хорошая идея т.к. если будет мелко и человек попытается увеличить масштаб, это не сработает, можно воспользоваться calc и это улучшит ситуацию, но на малых экранах все равно может быть очень мелко и пользователю придется увеличивать масштаб*/

  /* а вот с clamp все очень удобно */
  font-size: clamp(14px, 2vw, 18px);
}
.content--clamp .title {
  font-size: clamp(2rem, 5vw, 5rem);
}

/* как расчитывается значение clamp */
.element {
  width: clamp(200px, 50%, 1000px);
  /* Это - эквивалент следующего выражения */
  width: max(200px, min(50%, 1000px));
}
/* среднее значение должно быть вычисляемым, т.к. вычисленное значение 
зависит от контекста. При указании вычисляемого значения можно использовать
различные единицы измерения: %, em, rem, vw/vh. Даже если значение выражено
в процентах, при его расчёте может использоваться либо ширина области
просмотра — в том случае, если элемент находится в теге <body>, либо
ширина другого элемента, являющегося контейнером элемента. */

/* можно использовать математические выражения */
.type {
  /* Ограничиваем font-size значениями, находящимися между 12px и 100px */
  font-size: clamp(12px, 10 * (1vw + 1vh) / 2, 100px);
}
