/* небольшие настройки и сброс */
/* ================================= */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark light;
}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* включение прокрутки только если не откючена в предпочтениях */
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }
}
/* ============================== */
main {
  padding: 2rem;
  display: grid;
  gap: 40px;
}
.block {
  width: 300px;
  height: 300px;
  background-color: red;

  /* позволяет анимировать высоту и ширину */
  transition: height 0.3s;
  interpolate-size: allow-keywords;

  @media (max-width: 1300px) {
    height: 100px;
  }
}

.text {
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 18px;

  /* если надо вывести несколько строк */
  /* display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; */

  /* страбатывает только на открытие */
  interpolate-size: allow-keywords;
  transition: height 0.3s;

  &:hover {
    background-color: antiquewhite;

    overflow: clip;
    white-space: normal;
    height: max-content;
  }
}

/* ============================== */
