/* небольшие настройки и сброс */
/* ================================= */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark light;
}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* включение прокрутки только если не откючена в предпочтениях */
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }
}
/* ============================== */
/* ============================== */
body {
  font-family: "Work Sans", sans-serif;
  line-height: 1.6;
  font-size: 1.125rem;
}
img {
  display: block;
  max-width: 100%;
}
.btn {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  background: black;
  color: white;
  padding: 0.75em 2em;
  border-radius: 100vmax;

  &:hover {
    background: #444;
  }
}

/* Typography */

.main__title {
  font-size: 5rem;
  text-transform: uppercase;
  line-height: 0.9;
  margin-bottom: 0.2em;
}

h2 {
  font-size: 2rem;
  line-height: 0.9;
  text-transform: uppercase;

  span {
    font-weight: 300;
    display: block;
  }
}

.main-grid {
  display: grid;
  gap: 0 1rem;
  grid-template-columns: 1rem 1fr 1rem;
}

.main-grid > * {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: subgrid;
}

@media (max-width: 650px) {
  .main-grid > * > * {
    grid-column: 2 / -2;
  }
}

@media (min-width: 650px) {
  .main-grid {
    grid-template-columns:
      minmax(1rem, 1fr)
      repeat(6, minmax(5rem, 10rem))
      minmax(1rem, 1fr);
  }

  .even-columns {
    --col-start: 2;
    --col-end: calc(var(--col-start) * -1);
    --col-size: 2;
  }

  .even-columns > * {
    grid-column-start: span var(--col-size);
  }
  .even-columns > *:first-child {
    grid-column: var(--col-start) / span var(--col-size);
  }

  .even-columns > *:last-child {
    grid-column: span var(--col-size) / var(--col-end);
  }

  .even-columns > *:only-child {
    grid-column: var(--col-start) / var(--col-end);
  }
}

.full-split {
  --col-start: 1;
  --col-end: -1;
  --col-size: 4;
  gap: 0;
}

.full-split > * {
  grid-column: 1 / -1;
}

.full-split > *:not(img) {
  background: #111;
  color: white;
  padding: 3rem;
  margin: 0;
}

.full-split > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  padding-bottom: 3em;
}

.hero__title {
  grid-row: 1 / 2;
  z-index: 2;
}

.hero__img {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 650px) {
  .hero {
    padding: 3em 0;
  }

  .hero__title {
    grid-column: 2 / 7;
    grid-row: 1 / 2;
  }

  .hero__img {
    grid-column: 5 / 8;
    grid-row: 1 / span 2;
    z-index: -1;
    justify-self: end;
  }

  .hero__body {
    grid-column: 2 / 4;
  }
  .hero__body p {
    margin-bottom: 2em;
  }
}

.sales-points {
  padding: 3rem 0;
  background: #efefef;
  text-align: center;
}

.more-stuff {
  text-align: center;
  --col-start: 3;
  --col-size: 2;
  padding: 3rem 0;
}

.cta {
  background: #222;
  padding: 3em 0;
  text-align: center;
  color: #f4f4f4;
  column-gap: 1em;
}

.v-center {
  display: grid;
  align-items: center;
}
