/* небольшие настройки и сброс */
/* ================================= */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark light;
}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* включение прокрутки только если не откючена в предпочтениях */
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }
}
/* ============================== */
select {
  width: 400px;
  white-space: pre-wrap;
  /* перенос работает только при  appearance: none и только в хроме и ему подобных*/
  appearance: none;
  &:disabled {
    appearance: none;
  }
}
/* ============================== */
